


body{
    background: #ffffff;;
    font-family: 'Tangerine', cursive;
}

@media(max-width: 600px){
#app{
    display: grid;
    grid-template-rows:(5vh, auto);
    height:100vh;
    background: #ffffff;
    justify-content: center;
    grid-gap: 1em;
    font-family: 'Tangerine', cursive;
    color:#411114
}

#holder_headline{
    background:white;
    font-size: 10vh;
    color:#380e25

}

.entry{
    background: rgba(171, 177, 176, 0.4);
}

#entryHolder{color:rgba(59, 13, 13, 0.4);

}

#date{color:#380e25;
    font-size:7vw;

}

#temp{color: #380e25;
    font-size:7vw;

}

#content{color:#380e25;
    font-size: 7vw;

}

#weather{color:#380e25;
    font-size: 7vw;
}

.title{color:rgb(73, 11, 11);
    display:block;
    font-size:4em;

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 10vw;
    margin-bottom:2vh;
    margin-top:2vh;
}

input{
    display:block;
    height: 10vh;
    width: 40vw;
    background:#dadcdd;
    color:#282729;
    font-size: 5vw;
    font-family: 'Tangerine', cursive;
    border: 1px solid;
}

button{
    width: 80vw;
    height: 15vh;
    background:#b9425c;
    color:  #ffffff;
    font-size: 6vh;
    font-family: 'Tangerine', cursive;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top:3vh;
    border-radius: 8px;
}



textarea{
    background:#dadcdd;
    color: #282729;
    font-size: 5vw;
    font-family: 'Tangerine', cursive;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #383536; 
    font-family: 'Tangerine', cursive;
    font-size: 2vh;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #383536; 
    font-family: 'Tangerine', cursive;
    font-size:2vh;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color:#383536; 
    font-family: 'Tangerine', cursive;
    font-size: 2vh;

} };